.intro__list {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 0 0;
}

@media screen and (min-width: 900px) {
    .intro__list {
        width: 690px;
    }
}

@media screen and (max-width: 900px) {
    .intro__list {
        width: 100%;
        margin: 0;
    }
}