.header__lang-link_txt {
    color: white;
    padding-top: 46px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

input[type="radio"]:checked + span {
    text-decoration: underline;
}

@media screen and (min-width: 500px) {
    .header__lang-link_txt {
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (max-width: 500px) {
    .header__lang-link_txt {
        font-size: 18px;
        line-height: 20px;
    }
}