.lead__title {
    font-weight: 900;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;    
}

@media screen and (min-width: 740px) {
    .lead__title {
        width: 720px;
        margin: 0 auto 32px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 550px) and (max-width: 740px) {
    .lead__title {
        width: 488px;
        margin: 0 auto 24px;
        font-size: 62px;
        line-height: 70px
    }
}

@media screen and (max-width: 550px) {
    .lead__title {
        width: 288px;
        margin: 0 auto 16px;
        font-size: 40px;
        line-height: 44px;
    }
}