.lead__subtitle {
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

@media screen and (min-width: 740px) {
    .lead__subtitle {
        width: 640px;
        font-size: 30px;
        line-height: 36px;
        }
}

@media screen and (min-width: 550px) and (max-width: 740px) {
    .lead__subtitle {
        width: 460px;
        font-size: 22px;
        line-height: 26px;
    }
}

@media screen and (max-width: 550px) {
    .lead__subtitle {
        width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}