.place__item {
    margin: 0;
    width: 50%;
}

.place__item:nth-child(2n +1) {
    width: 460px;
    padding-right: 40px;
}

.place__item:nth-child(2n) {
    width: 484px;
}

.place__item:nth-child(-n+2) {
    padding-bottom: 48px;
}